.App {
  margin: 25px auto;
  padding: 10px;
  text-align: center;
  width: 60vw;
  min-width: 375px;
  min-height: 600px;
  border: 1px solid #4b4b4b;
  border-radius: 20px;
  font-size: 21px;
}
.button {
  padding: 10px 15px;
  border-radius: 5px;
}